# phpstorm project files
.idea
gradle

# netbeans project files
#nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

/runtime/
/web/assets/
/config/scm_config.php
# windows thumbnail cache
#Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
#composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
#phpunit.phar
# local phpunit config
#/phpunit.xml
target/
#webjersay.iml